<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.sp.demo.serlvet.Login</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>userlist</servlet-name>
        <servlet-class>com.sp.demo.serlvet.UserListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userlist</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>usersave</servlet-name>
        <servlet-class>com.sp.demo.serlvet.UserSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usersave</servlet-name>
        <url-pattern>/usersave</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userdelete</servlet-name>
        <servlet-class>com.sp.demo.serlvet.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userdelete</servlet-name>
        <url-pattern>/userdelete</url-pattern>
    </servlet-mapping>

</web-app>
